h1,h2,h4
{
    color: red;
    text-align: center;

}
h4
{
    font-size: 40px;
}
#cont
{
    display: flex;
    gap: 20px; 
    padding-right: 10px;
    padding-left: 10px;
}
body
{
  background-image:url("cenema.webp");
  background-size: cover; /* Makes the image cover the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background fixed during scro*/
}
.movies , #ticket , #header
{
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
    border-radius: 2% ;
    width:33%;
    height:33%;
    text-align: center;
}

img
{height: auto;
width: 100%;
object-fit: cover}

#ticket, #header,bu
{
    margin: 0 auto;
}

#header
{
    background-color: rgba(255, 255, 255, 0.1);
}